<link rel="stylesheet" href="/css/style.css">

<div class="menu">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 5">
     <rect width="32" height="5" fill="black"/>
   </svg>
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 5">
     <rect width="20" height="5" fill="black"/>
   </svg>
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 5">
     <rect width="32" height="5" fill="black"/>
   </svg>
 </div>

 <div style="right: 0;position: absolute;top: 0; margin-top: .3rem; padding: .5rem 1rem;">
  <button style="padding: .2rem 1rem; font-size: 16px; border: none; border-radius: 5px;background-color: black;"><a href="/auth" style="color: white;">retour</a></button>
</div>

 <div class="containerst">

    <a href="/create/">
        <div class="items">
            <h4 style="color: black;">CREATE</h4>
        </div>
    </a>
    
 </div>




