<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/auth.css">

<div class="menus">
    <button><a href="/admin">retour</a></button>
</div>


<div class="containers">
    <a href="/shedule"> 
      <div class="items" style="background: rgba(0, 0, 0, 0.582);">
            <h4  style=" color: white;">SHEDULE</h4>
      </div>
    </a>
    
  <a href="/create/seance">
      <div class="items">
            <h4>SEANCE</h4>
      </div>
  </a>

   <a href="/auth/register">
      <div class="items">
            <h4>ENSEIGNANT</h4>
      </div>
   </a>
   <a href="/create/universite">
    <div class="items">
          <h4>UNIVERITE</h4>
    </div>
 </a>
 <a href="/create/faculte">
    <div class="items">
          <h4>FACULTE</h4>
    </div>
 </a>
 <a href="/create/departement">
    <div class="items" >
          <h4>DEPARTEMENT</h4>
    </div>
 </a>
 <a href="/create/filiere">
    <div class="items">
          <h4>FILIERE</h4>
    </div>
 </a>
 <a href="/create/niveau">
    <div class="items">
          <h4>NIVEAUX</h4>
    </div>
 </a>
  </div>