<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shedule</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="menu">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 5">
         <rect width="32" height="5" fill="black"/>
       </svg>
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 5">
         <rect width="20" height="5" fill="black"/>
       </svg>
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 5">
         <rect width="32" height="5" fill="black"/>
       </svg>
     </div>

         <h3>SHEDULE APPLICATION</h3>

       <div class="link">
        <button type="button"> <a href="/auth/login">login</a></button>
        <button type="button" class="btnBlack"> <a href="/auth/register">register</a></button>
       </div>

</body>
</html>
