<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shedule</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <div class="menu">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 5">
         <rect width="32" height="5" fill="black"/>
       </svg>
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 5">
         <rect width="20" height="5" fill="black"/>
       </svg>
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 5">
         <rect width="32" height="5" fill="black"/>
       </svg>
     </div>



        <div class="containers container">
          <div class="head">
            <h2>REMPLIR LE FORMULAIRE</h2>
          </div>

          <form action="/seances" method="post">
            <div class="form-input">
              <label for="nom">Nom :</label>
              <input type="text" name="nom" id=""" maxlength="30" placeholder=" Le nom est optionel">
             </div>
             <div class="form-input">
              <label for="nomDepartement">Departement :</label>
              <select name="DepartementId" id="" required>
                 <option value="">Choix du Departement</option>
                 <option value="1">Mathematique-informatique</option>
              </select>
          </div>
          
            <div class="form-input">
              <label for="Filiere">Filiere:</label>
              <select name="FiliereId" id="" required>
                 <option value="">Choix de la filiere</option>
                 <option value="1">mathematique</option>
                 <option value="2">Informatique</option>
              </select>
          </div>

          <div class="form-input">
              <label for="Niveaux">Niveaux:</label>
              <select name="NiveauxId" id="" required>
                 <option value="">selectionner niveau</option>
                 <option value="1">niveau 1</option>
                 <option value="2">niveau 2</option>
                 <option value="3">niveau 3</option>
              </select>
          </div>
     
          <button type="submit"  style="background-color: black;color: white;">Conculter</button>
          </form>
        </div>
</body>
</html>
