*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: gainsboro;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.containerst{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 0;
}
a{
    text-decoration: none;
    color: black;
}

.items{
    height: 2rem;
    width: 10rem;
    border-radius: 9px;
    box-shadow: 0px 2px 3px gray;
    transition: ease 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    margin-top: .5rem;
}

.items svg{
    width: 20px;
    height: 20px;
}

.items h4{
    color: gray;
    font-family:'Times New Roman', Times, serif;
}


@media (max-width:412px) {
     .container{
        gap: .3rem;
        margin-left: 2rem;
        margin-top: -.2rem;
        gap: .5rem;
     }
    .items{
        height: 2rem;
        width: 5.5rem;
        box-shadow: 0px 4px 2px rgb(0, 0, 0);
        color: rgba(0, 0, 0, 0.767);
      }
    .items h4{
        font-size: 15px;
        color: black;
    }
    
}


.items:hover{
    background: rgba(220, 220, 220, 0.849);
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
}

.menu{
    margin: .5rem;
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: .4rem;
}

.menu svg{
    border-radius: 10rem;
}

.link{
    position: absolute;
    top: 1.9%;
    right: 1%;
}

.link button{
   width: 7rem;
   padding: .5rem 1rem;
   border: none;
   border-radius: 5px;
}

.link button a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
