<link rel="stylesheet" href="/css/auth.css">
<div class="menus">
    <button><a href="/create">annuler</a></button>
</div>

<div class="container">

    <div class="head">
        <h3>CREATE DEPARTEMENT</h3>
        <div>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
        </div>
    </div>

    <form action="/departement" method="post">
        <div class="form-input">
            <label for="faculte">Faculte:</label>
            <select name="FaculteId" id="">
                <option value="">choisir Faculte</option>
                <option value="1">Faculter des science</option>
             </select>
        </div>
    <div class="form-input">
        <label for="departement">Nom Departement:</label>
        <input type="text" name="nomDepartement" id="" placeholder="nom du departement">
    </div>

        <button type="submit" style="background-color: black; color: white;">enregistre</button>
    </form>

   </div>