<link rel="stylesheet" href="/css/auth.css">

<div class="menu">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 5">
     <rect width="32" height="5" fill="black"/>
   </svg>
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="-8 0 32 5">
     <rect width="32" height="5" fill="black"/>
   </svg>
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 5">
     <rect width="32" height="5" fill="black"/>
   </svg>
 </div>
<div class="container">

    <div class="menus">
        <button><a href="/admin">annuler</a></button>
    </div>

    <div class="head">
        <h3>CREATE ROLE</h3>
        <div>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
        </div>
    </div>

    <form action="/role" method="post">

    <div class="form-input">
        <label for="email">Email:</label>
        <input type="email" name="email" id="" placeholder="Utilisateuremail@gmail.com">
    </div>
   <div class="form-input">
    <label for="role">Role :</label>
 <select name="role" id="">
    <option value="">select role</option>
    <option value="1">admin</option>
    <option value="2">enseignant</option>
    <option value="3">deleguer</option>
    <option value="4">etudiant</option>
 </select>

   </div>
        <button type="submit">enregistre</button>
</form>
  </div>