<link rel="stylesheet" href="/css/auth.css">

<div class="menu">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 5">
     <rect width="32" height="5" fill="black"/>
   </svg>
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="-8 0 32 5">
     <rect width="32" height="5" fill="black"/>
   </svg>
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 5">
     <rect width="32" height="5" fill="black"/>
   </svg>
 </div>
<div class="containers container">
    <div class="menus">
        <button><a href="/create">annuler</a></button>
    </div>

    <div class="head">
        <h3>CREATE SEANCES</h3>
        <div>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
        </div>
    </div>

    <form action="/seance" method="post">
        <div class="form-input">
            <label for="nomCours">Cours :</label>
            <input type="text" name="nomCours" id="">
        </div>
        <div class="form-input">
            <label for="CodeUnite">codeUnite :</label>
            <input type="text" name="codeUnite" id="">
        </div>
        <div class="form-input">
            <label for="Debut">Debut :</label>
            <input type="time" name="debut" id="">
        </div>
        <div class="form-input">
            <label for="fin">Fin :</label>
            <input type="time" name="fin" id="">
        </div>
        <div class="form-input">
            <label for="Jour">Jour :</label>
            <input type="date" name="jour" id="">
        </div>
        <div class="form-input">
            <label for="lieu">Lieu :</label>
            <input type="text" name="lieu" id="">
        </div>
        <div class="form-input">
            <label for="salle">Salle :</label>
            <select name="salle" id="">
                <option value="">selectionner la salle</option>
                <option value="1">SALLE C</option>
            </select>
        </div>
        <div class="form-input">
            <label for="enseignantId">Enseignant :</label>
            <select name="enseignant" id="">
                <option value="">selectionner enseignant</option>
                <option value="1">Dr.Saoungoumi</option>
                <option value="2">Dr.Guidana</option>
            </select>
        </div>
        <div class="form-input">
            <label for="filiereId">Filiere :</label>
            <select name="filiere" id="">
                <option value="">selectionner la filiere</option>
                <option value="1">niveaux 1</option>
                <option value="2">niveaux 2</option>
            </select>
        </div>
        <div class="form-input">
            <label for="Niveaux">Niveaux :</label>
            <select name="niveaux" id="">
                <option value="">selectionner la filiere</option>
                <option value="1">informatique</option>
                <option value="2">mathematique</option>
            </select>
        </div>
        <div class="form-input">
            <label for="support">Support :</label>
            <input style="text-align: center; padding-top:.5rem ;" type="file" name="support" id="">
        </div>
        <button type="submit">enregistre</button>
    </form>
</div>