<link rel="stylesheet" href="/css/auth.css">

<div class="menus">
    <button><a href="/create">annuler</a></button>
</div>

<div class="container">

    <div class="head">
        <h3>CREATE UNIVERSITE</h3>
        <div>
            <button type="button"></button>
            <button type="button"></button>
            <button type="button"></button>
        </div>
    </div>

    <form action="/universite" method="post">

    <div class="form-input">
        <label for="universite">Nom Univeriste:</label>
        <input type="text" name="nomUniversite" id="" placeholder="nom universite">
    </div>
        <button type="submit" style="background-color: black; color: white;">enregistre</button>
    </form>

   </div>